<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
    <title></title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../styles/feedCoin.css">
</head>


<body>

<nav class="navbar navbar-dark bg-primary">

    <a class="navbar-brand" href="#"><img src="rewardfirelogonotext.png" alt=""></a>
    <div class="dropdown">
        <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= firstName %>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="http://localhost:8080/feed/team/<%= employeeId %>">Feed</a>
            <a class="dropdown-item" href="http://localhost:8080/profile/<%= employeeId %>">My Profile</a>
            <a class="dropdown-item" href="http://localhost:8080/signout">Sign Out</a>
        </div>
    </div>

</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-2 cardcol">
            <div class="card" style="width: 16rem;">
                <form action="/routeFeed/<%= employeeId %>" method="post">
                    <div class="form-group">
                        <label for="sort" class="sortLabel">Sort</label>
                        <select class="form-control" id="sort" name="sort">

                            <% if(feed == "Team"){ %>
                            <option>Team (<%= company.division.team.teamName %>)</option>
                            <option>Division (<%= company.division.divisionName %>)</option>
                            <option>Company (<%= company.companyName %>)</option>
                            <% } else if (feed == "Division"){ %>
                            <option>Division (<%= company.division.divisionName %>)</option>
                            <option>Team (<%= company.division.team.teamName %>)</option>
                            <option>Company (<%= company.companyName %>)</option>
                            <% } else if (feed == "Company"){ %>
                            <option>Company (<%= company.companyName %>)</option>
                            <option>Division (<%= company.division.divisionName %>)</option>
                            <option>Team (<%= company.division.team.teamName %>)</option>
                            <% } %>
                        </select>
                    </div>
                    <button class="btn btn-primary submitButton">Apply</button>
                </form>

            </div>
        </div>
        <div class="col-10">

            <div class="card cardOpt" style="width: 70">
                <div class="card-body">
                    <div class="container">
                        <h2><%= pageTitle %> Feed</h2>
                        <% for(var i = 0; i < myCoins.length; i++) { %>
                            <% if(myCoins[i].Status == "DELIVERED") { %>
                            <div class="card cardOpt" style="width: 90">
                                <div class="card-body">
                                    <h3>Reward Coin</h3>
                                    <p>Type: <%= myCoins[i].Type %></p>
                                    <b><p>Description</p></b>
                                    <p><%= myCoins[i].Description %></p>
                                    <% if(myCoins[i].Recipent.split("#")[1]!=employeeId) {%>
                                        <a href="http://localhost:8080/viewProfile/<%= employeeId %>/<%= myCoins[i].Recipent.split("#")[1] %>"><p>Recipent: <%=myCoins[i].RecipentName%></p></a>
                                    <%} else {%>
                                    <p>Recipent: <%=myCoins[i].RecipentName%></p>
                                    <%}%>
                                    <a href="http://localhost:8080/viewProfile/<%= employeeId %>/<%= myCoins[i].Sponsor %>">
                                        <p>Sponsor: <%= myCoins[i].SponsorName %></p></a>
                                    <p>Approved by:</p>
                                    <% for(var n = 0; n < myCoins[i].Approvals.length; n++) { %>
                                    <a href="http://localhost:8080/viewProfile/<%= employeeId %>/<%= myCoins[i].Approvals[n].approvalID %>"><%= myCoins[i].Approvals[n].approvalName %></a>
                                    <% } %>
                                </div>
                            </div>
                            <% } else if(myCoins[i].Status == "GIFTED"){ %>
                            <div class="card cardOpt" style="width: 90">
                                <div class="card-body">
                                    <h3>Gifted Coin</h3>
                                    <a href="http://localhost:8080/viewProfile/<%= employeeId %>/<%= myCoins[i].Sponsor %>">
                                        <p>Gifted by: <%= myCoins[i].SponsorName %></p></a>
                                </div>
                            </div>
                                <% } else if(myCoins[i].Status=="CHALLENGE_COMPLETED"){ %>
                                <div class="card cardOpt" style="width: 90">
                                    <div class="card-body">
                                        <h3>Coin from Challenge</h3>
                                        <a href="http://localhost:8080/viewProfile/<%=employeeId%>/<%=myCoins[i].Sponsor%>"><p>Coin from: <%=myCoins[i].SponsorName%></p></a>
                                    </div>
                                </div>
                            <% } else if(myCoins[i].Status == "PENDING_APPROVAL") { %>
                            <div class="card cardOpt" style="width: 90">
                                <div class="card-body">
                                    <h3>Reward Coin Pending Approval</h3>
                                    <p>Type: <%= myCoins[i].Type %></p>
                                    <b><p>Description</p></b>
                                    <p><%= myCoins[i].Description %></p>
                                    <% if(myCoins[i].Recipent.split("#")[1]!=employeeId) {%>
                                    <a href="http://localhost:8080/viewProfile/<%= employeeId %>/<%= myCoins[i].Recipent.split("#")[1] %>"><p>Recipent: <%=myCoins[i].RecipentName%></p></a>
                                    <%} else {%>
                                    <p>Recipent: <%=myCoins[i].RecipentName%></p>
                                    <%}%>
                                    <a href="http://localhost:8080/viewProfile/<%= employeeId %>/<%= myCoins[i].Sponsor %>">
                                        <p>Sponsor: <%= myCoins[i].SponsorName %></p></a>


                                    <% if (myCoins[i].Recipent.split("#")[1] != employeeId && !myCoins[i].ApprovalIDs.includes(employeeId)){ %>
                                    <button onclick=window.location.href="http://localhost:8080/approve/<%= employeeId %>/<%= myCoins[i].CoinID %>"
                                            class="btn btn-primary approveButton">Approve
                                    </button>
                                    <% } %>
                                    <p>Approved by:</p>
                                    <% for(var n = 0; n < myCoins[i].Approvals.length; n++) { %>
                                    <a href="http://localhost:8080/viewProfile/<%= employeeId %>/<%= myCoins[i].Approvals[n].approvalID %>"><%= myCoins[i].Approvals[n].approvalName %>
                                        ,</a>
                                    <% } %>
                                </div>
                            </div>

                            <% } %>
                        <% } %>
                    </div>
                </div>

            </div>
        </div>
</body>
</html>
